config USR_DRV_USBOTGHS
  bool  "userspace USB OTG HS driver library"
  default y
  ---help---
  Support for STM32 USB OTG HS.

if USR_DRV_USBOTGHS

menu "USB-related features"

config USR_DRV_USBOTGHS_DEBUG
  bool "Activate debuggging for USB OTG HS driver"
  default n
  ---help---
  Activate various debugging for usb OTG High speed.
  This option is efficient only if KERNEL_SERIAL is activated.


config USR_DEV_USBOTGHS_DMA
  bool "Enable DMA-based transmissions"
  default n
  ---help---
  Activate DMA-based memory copy between device and RAM FIFOs


endmenu

endif
